html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 REM = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    /*
    Fuente muy bonita
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    */
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3 {
   font-size: 3rem; 
}

h1{
    background-color: #71b93d;
    color: #b6fe7e;
    font-size: 5rem;
    text-align: center;
}

h1 span{
    color: #19612f;;
}

h2 span {
    color: #037bc0;
}




.contenedor-navegacion{
    border-top: 1px solid #19612f;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nombre-sitio{
    margin-top: 5rem;
        
}

.nav-principal{    
    /*
    Otra manera de aplicar propiedades al border.

    border-color: #000;
    border-top-style: solid;
    border-width: 1px;
    */
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
    color: #71b93d;
}

.hero{
    background-image: url(../imgs/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades*/

.text-center{
    text-align: center;
}

.btn {
    color: #fff;
    background-color: #8cbc00;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    -webkit-transition: background-color .3s ease-out ;
    -moz-transition: background-color .3s ease-out ;
    -ms-transition: background-color .3s ease-out ;
    -o-transition: background-color .3s ease-out ;
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

.btn:hover {
    background-color: #769c02;   
}
.categorias{
    padding-top: 5rem;    
}
.categorias h2{
    text-align: center;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;    
    color: #000;
    background-color: #fff;
}
.categoria a:hover{
    background-color: #71b93d;
    color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

/** Bloque Nosotros*/

.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%,#037bc0 50% , #037bc0 100%),
    url(../imgs/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem ;
}
/*
--Alinear de 2 contenidos de forma horizontal mediante el uso de display:grid--

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem ;
}

.texto-nosotros{
    grid-column: 2 / 3;  
}
*/

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 45%;
    padding-left: 1rem;
    color: #fff;
}


/* Listado de Productos*/

.contenido-principal {
    padding-top: 5rem;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 1rem 0;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}


.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}



.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

/** Footer **/

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.footer-menu a{
    display: block;
    padding: .7rem;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/** BLOG */

.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.entrada {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

.entrada:last-of-type {
    border: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}
.entrada-meta span{
    color: #037bc0;
}

.entrada-meta p{
    font-weight: 700;
}

.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}